# Dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Runtime data
run/

# Test coverage
coverage/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.swp

# Environment
.env
.env.local
.env.*.local

# Build output
*.js
*.map
app/**/*.js
app/**/*.map
test/**/*.js
test/**/*.map
config/**/*.js
config/**/*.map

# Package manager
pnpm-lock.yaml
package-lock.json
yarn.lock
.package-lock.json

# Cache
.eslintcache

# Storage
storage/*
!storage/.gitkeep
