.container {
  padding: 24px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.directory {
  color: #1890ff;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}